.appointmentSection {
	width: 100%;
	max-width: 465px;

	padding: 40px 0 72px 0;

	display: flex;
	flex-direction: column;
	gap: 50px;
}

.Wrapper {
	display: flex;
	justify-content: center;
}

.registrationTitleWrapper {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.title {
	color: rgb(55, 63, 65);
	font-family: TT Hoves;
	font-size: 42px;
	font-weight: 700;
	line-height: 115%;
	letter-spacing: 0px;
	text-align: left;
}

.appointmentForm {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.formGroupWrapper {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.formGroup {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.appointmentFormInput {
	width: 100%;
	padding: 10px;
	border: 1px solid rgb(55, 63, 65);
	opacity: .5;
	border-radius: 5px;
}

.appointmentFormLabel {
	display: flex;
	flex-direction: column;
	gap: 20px;

	color: rgb(55, 63, 65);
	font-family: TT Hoves;
	font-size: 20px;
	font-weight: 500;
	line-height: 115%;
	letter-spacing: 0px;
	text-align: left;
}

.formGroup .roundRadio {
	position: relative;
	height: 13px;
	width: 13px;
	outline: none;
	cursor: pointer;
	border: transparent;
	transition: .3s all;
}

.formGroup .roundRadio::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid transparent;
	background-image: linear-gradient(185deg, #f8a94a 0%, #c97713 100%);
	box-shadow: inset 0px 0px 0px 100vw #fff;
	transition: border 0.3s;
	-webkit-transition: border 0.3s;
	-moz-transition: border 0.3s;
	-ms-transition: border 0.3s;
	-o-transition: border 0.3s;
}

.formGroup .roundRadio:hover::before {
	border: 1px solid #c97713;
}

.formGroup .roundRadio::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	background-image: linear-gradient(185deg, #f8a94a 0%, #c97713 100%);
	transform: translate(-50%, -50%);
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s ease, visibility 0.3s, background-image 0.3s all;
	-webkit-transition: opacity 0.3s ease, visibility 0.3s, background-image 0.3s;
	-moz-transition: opacity 0.3s ease, visibility 0.3s, background-image 0.3s;
	-ms-transition: opacity 0.3s ease, visibility 0.3s, background-image 0.3s;
	-o-transition: opacity 0.3s ease, visibility 0.3s, background-image 0.3s;
}

.formGroup .roundRadio:hover::after {
	background-image: linear-gradient(185deg, #c97713 0%, #c97713 100%);
}

.formGroup .roundRadio:checked::after {
	opacity: 1;
	visibility: visible;
}

.appointmentFormAgreement {
	display: flex;
	gap: 5px;
}

.appointmentFormAgreementLabel {
	display: flex;
	gap: 10px;
	align-items: center;
	align-content: center;
}

.appointmentFormAgreementLabel span {
	color: rgb(55, 63, 65);
	font-family: Mulish;
	font-size: 12px;
	font-weight: 400;
	line-height: 15px;
	letter-spacing: 0.2px;
	text-align: left;
}

.appointmentFormAgreementLabel span a {
	color: #ff9900;
	text-decoration: underline;
}

.appointmentFormPlaceholdImg {
	width: 100%;
	padding: 10px;
	border: 1px solid rgb(55, 63, 65);
	opacity: .5;
	border-radius: 5px;
	margin-bottom: -37px;
	display: flex;
	justify-content: space-between;

	font-size: 14px;
	align-items: center;
	cursor: pointer;
}

.appointmentFormPlaceholdImg~.appointmentFormInput {
	opacity: 0;
	width: 0;
	height: 0;
}

.roundRadio {
	cursor: pointer;
}


.error {
	color: #FF162E;
	font-size: 12px;
}

.errorInput {
	border: 1px solid #FF162E;
	color: #FF162E;
}

.errorText {
	color: #FF162E;
}

.appointmentFormAgreementLabel span a {
	color: #ff9900;
	text-decoration: underline;
}


.redPlaceholder::placeholder {
	color: #FF162E;
}

.appointmentServiceCard {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 25px 30px;
	background-color: white;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.appointmentServiceCardTopText {
	color: rgb(55, 63, 65);
	font-family: TT Hoves;
	font-size: 20px;
	font-weight: 500;
	line-height: 23px;
	letter-spacing: 0px;
	text-align: left;
}

.appointmentServiceCardBot {
	display: flex;
	justify-content: space-between;
}

.appointmentServiceCardBotLeftText,
.appointmentServiceCardBotRightText {
	color: rgba(55, 63, 65, .7);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 600;
	line-height: 18px;
	letter-spacing: 0.2px;
	text-align: left;
}

.appointmentServiceCardBotLeftText {
	line-height: 18px;
}

.appointmentServiceCardBotRightText {
	line-height: 16.1px;
}

.fadeIn {
	animation: fadeIn 0.5s ease forwards;
}

.infosPayBlockSection {
	display: flex;
	flex-direction: column;
	gap: 22px;
}

.confirmationSection {
	display: flex;
	flex-direction: column;
	gap: 22px;
}

.infoBoxWrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 25px 30px;
}

.infoBoxHeader {
	color: rgb(55, 63, 65);
	font-family: TT Hoves;
	font-size: 20px;
	font-weight: 500;
	line-height: 115%;
	letter-spacing: 0px;
	text-align: left;
}

.infoBoxBlock {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.infoBoxWrapText {
	display: flex;
	justify-content: space-between;
}

.infoBoxWrapTextTop,
.infoBoxWrapTextBot {
	color: rgb(55, 63, 65);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 600;
	line-height: 18px;
	letter-spacing: 0.2px;
	text-align: right;
}

.infoBoxWrapTextTop {
	opacity: 0.7;
}

.formBtnsWrapper {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.formBtnsWrapper .roundRadio {
	position: relative;
	height: 13px;
	width: 13px;
	outline: none;
	cursor: pointer;
	border: transparent;
	transition: .3s all;
	cursor: pointer;
}

.formBtnsWrapper .roundRadio::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid transparent;
	background-image: linear-gradient(185deg, #f8a94a 0%, #c97713 100%);
	box-shadow: inset 0px 0px 0px 100vw #fff;
	transition: border 0.3s;
	-webkit-transition: border 0.3s;
	-moz-transition: border 0.3s;
	-ms-transition: border 0.3s;
	-o-transition: border 0.3s;
}

.formBtnsWrapper .roundRadio:hover::before {
	border: 1px solid #c97713;
}

.formBtnsWrapper .roundRadio::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	background-image: linear-gradient(185deg, #f8a94a 0%, #c97713 100%);
	transform: translate(-50%, -50%);
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s ease, visibility 0.3s, background-image 0.3s all;
	-webkit-transition: opacity 0.3s ease, visibility 0.3s, background-image 0.3s;
	-moz-transition: opacity 0.3s ease, visibility 0.3s, background-image 0.3s;
	-ms-transition: opacity 0.3s ease, visibility 0.3s, background-image 0.3s;
	-o-transition: opacity 0.3s ease, visibility 0.3s, background-image 0.3s;
}

.formBtnsWrapper .roundRadio:hover::after {
	background-image: linear-gradient(185deg, #c97713 0%, #c97713 100%);
}

.formBtnsWrapper .roundRadio:checked::after {
	opacity: 1;
	visibility: visible;
}

.formBtnsWrapperHText {
	background: var(--gradient-wheat);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: Mulish;
	font-size: 14px;
	font-weight: 600;
	line-height: 18px;
	letter-spacing: 0.2px;
	text-align: left;
}

.formBtnsWrapperText {
	color: rgb(55, 63, 65);
	font-family: Mulish;
	font-size: 14px;
	font-weight: 600;
	line-height: 18px;
	letter-spacing: 0.2px;
	text-align: left;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(10px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}
