<html>
<body style="margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;">
    <div style="width: 100%; background: #efefef; border-radius: 10px; padding: 10px;">
        <div style="margin: 0 auto; width: 90%; text-align: center;">
            <h1 style="background-color: rgb(20, 38, 66); padding: 5px 10px; border-radius: 5px; color: white;">Проведите собеседование</h1>
            <div style="margin: 30px auto; background: white; width: 40%; border-radius: 10px; padding: 50px; text-align: left;">
                <h3 style="margin-bottom: 5px; text-align: center; font-size: 24px; color: black;">
                    Новый кандидат на пост консультанта!
                </h3>
                <ul style="color: black; margin-bottom: 100px;">
                    <li>Имя: {{ name }}</li>
                    <li>Фамилия: {{ surname }}</li>
                    <li>Отчество: {{ patronymic }}</li>
                    <li>Дата рождения: {{ born_date }}</li>
                    <li>Email: {{ email }}</li>
                </ul>
                <p style="margin-bottom: 30px; color: black; text-align: center;">Глютен.Инфо</p>
            </div>
        </div>
    </div>
</body>
</html>