.slider {
	position: relative;
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.slidesContainerWrapper {
	width: 100%;
	overflow: hidden;
}

.slidesContainer {
	display: flex;
	transition: transform 0.5s ease-in-out;
}

.slide {
	min-width: 100%;
	display: flex;
	justify-content: center;
}

.sliderPhotosGrid {
	display: grid;
	grid-template-columns: 270px 370px repeat(2, 1fr);
	grid-template-rows: 250px repeat(2, 1fr);
	grid-column-gap: 30px;
	grid-row-gap: 30px;
}

.photoItem {
	width: 100%;
	height: 100%;
}

.photoImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}

.sliderDots {
	text-align: center;
}

.sliderDot {
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #ccc;
	border-radius: 50%;
	margin: 0 5px;
	cursor: pointer;
}

.sliderDot.active {
	background-color: #ff7e00;
}
