.Wrapper {
	display: flex;
	justify-content: center;
}

.registrationSection {
	width: 100%;
	max-width: 570px;

	padding: 53px 0 94px 0;

	display: flex;
	flex-direction: column;
	gap: 50px;
}

.registrationTitleWrapper {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.title {
	color: rgb(55, 63, 65);
	font-family: TT Hoves;
	font-size: 42px;
	font-weight: 700;
	line-height: 115%;
	letter-spacing: 0px;
	text-align: left;
}

.registrationForm {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.formGroup {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.authFormInput {
	width: 100%;
	padding: 10px;
	border: 1px solid rgb(55, 63, 65);
	opacity: .5;
	border-radius: 5px;
}

.authFormLabel {
	display: flex;
	flex-direction: column;
	gap: 20px;

	color: rgb(55, 63, 65);
	font-family: TT Hoves;
	font-size: 20px;
	font-weight: 500;
	line-height: 115%;
	letter-spacing: 0px;
	text-align: left;
}

.subTitle {
	font-family: Mulish;
	font-size: 20px;
	font-weight: 400;
	line-height: 115%;
	letter-spacing: 0px;
	text-align: left;
}

.authFormTitle {
	font-family: TT Hoves;
	font-size: 20px;
	font-weight: 500;
	line-height: 115%;
	letter-spacing: 0px;
	text-align: left;
}

.authFormHelp {
	color: var(--light-wheat);
}

.authFormGender {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.authFormGenderWrapper {
	display: flex;
	gap: 30px;
}

.authFormGenderWrapper label {
	display: flex;
	align-items: center;
	gap: 6px;
}

.formGroup .roundRadio {
	position: relative;
	height: 13px;
	width: 13px;
	outline: none;
	cursor: pointer;
	border: transparent;
	transition: .3s all;
}

.formGroup .roundRadio::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid transparent;
	background-image: linear-gradient(185deg, #f8a94a 0%, #c97713 100%);
	box-shadow: inset 0px 0px 0px 100vw #fff;
	transition: border 0.3s;
	-webkit-transition: border 0.3s;
	-moz-transition: border 0.3s;
	-ms-transition: border 0.3s;
	-o-transition: border 0.3s;
}

.formGroup .roundRadio:hover::before {
	border: 1px solid #c97713;
}

.formGroup .roundRadio::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	background-image: linear-gradient(185deg, #f8a94a 0%, #c97713 100%);
	transform: translate(-50%, -50%);
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s ease, visibility 0.3s, background-image 0.3s all;
	-webkit-transition: opacity 0.3s ease, visibility 0.3s, background-image 0.3s;
	-moz-transition: opacity 0.3s ease, visibility 0.3s, background-image 0.3s;
	-ms-transition: opacity 0.3s ease, visibility 0.3s, background-image 0.3s;
	-o-transition: opacity 0.3s ease, visibility 0.3s, background-image 0.3s;
}

.formGroup .roundRadio:hover::after {
	background-image: linear-gradient(185deg, #c97713 0%, #c97713 100%);
}

.formGroup .roundRadio:checked::after {
	opacity: 1;
	visibility: visible;
}

.authFormAgreement {
	display: flex;
	gap: 5px;
}

.authFormAgreementLabel {
	display: flex;
	gap: 6px;
	align-items: center;
	align-content: center;
}

.authFormAgreementLabel span {
	color: rgb(55, 63, 65);
	font-family: Mulish;
	font-size: 12px;
	font-weight: 400;
	line-height: 15px;
	letter-spacing: 0.2px;
	text-align: left;
}

.authFormAgreementLabel span a {
	color: #ff9900;
	text-decoration: underline;
}

.authFormPlaceholdImg {
	width: 100%;
	padding: 10px;
	border: 1px solid rgb(55, 63, 65);
	opacity: .5;
	border-radius: 5px;
	margin-bottom: -37px;
	display: flex;
	justify-content: space-between;

	font-size: 14px;
	align-items: center;
	cursor: pointer;
}

.authFormPlaceholdImg~.authFormInput {
	opacity: 0;
	width: 0;
	height: 0;
}

.authFormGenderWrapper label,
.roundRadio {
	cursor: pointer;
}


.error {
	color: #FF162E;
	font-size: 12px;
}

.errorInput {
	border: 1px solid #FF162E;
	color: #FF162E;
}

.errorText {
	color: #FF162E;
}

.authFormAgreementLabel span a {
	color: #ff9900;
	text-decoration: underline;
}


.redPlaceholder::placeholder {
	color: #FF162E;
}

.inpWrap {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
