.backContent {
	padding: 20px 20px 150px 20px;
	background-color: #f9f9f9;
}

.profileSection {
	display: flex;
	flex-direction: column;
	gap: 40px;
	justify-content: space-between;
}

.profileSectionTitle {
	color: rgb(55, 63, 65);
	font-family: TT Hoves;
	font-size: 42px;
	font-weight: 700;
	line-height: 49px;
	letter-spacing: 0px;
	text-align: left;
	padding-bottom: 10px;
}

.profileSectionFullWrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 30px;

	border-bottom: 1px solid #989C9D;
	padding-bottom: 40px;
}

.profileSectionFullWrapper:first-of-type {
	border-bottom: none;
	padding-bottom: 0;
}

.profileSectionFullWrapperTitle {
	font-family: Mulish;
	font-size: 32px;
	font-weight: 600;
	line-height: 40px;
	letter-spacing: 0px;
	text-align: left;
}

.profileImage {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.profileDetails {
	display: flex;
	gap: 30px;
	align-items: center;
}

.profileDetWrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.profileDetWrapperTop {
	color: rgb(55, 63, 65);
	font-family: Mulish;
	font-size: 20px;
	font-weight: 600;
	line-height: 25px;
	letter-spacing: 0px;
	text-align: left;
}

.profileDetWrapperMid {
	color: rgb(152, 156, 157);
	font-family: Mulish;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0px;
	text-align: left;
}

.profileSectionExit {
	padding-top: 10px;
	display: flex;
	justify-content: center;
}

.profileActions {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 29px;
}

.buttonsSection {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
